@model Gender_api.Models.CreateKeyModel

@{
    ViewBag.Title = "CreateKey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateKey</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CreateKey</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.KeyLimit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeyLimit, new { @Value = "1000   " })
                @Html.ValidationMessageFor(model => model.KeyLimit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedItemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.SelectedItemId, new SelectList(Model.Items, "Value", "Text")
)
                @Html.ValidationMessageFor(model => model.SelectedItemId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
